#dropDownToggle {
    font-weight: bold;
    color: #921A40;
}

#cartSummaryItem {
    color: #921A40 !important;
    font-weight: 500;
}

#cartSummarySpan {
    margin-left: 10px;
     color: grey;
}

#cartSummarySmallButton {
    color: white;
    background-color: #921A40 !important;
    border: 1px solid black;
}

#cartSummaryButton {
    width: 100%;
    height: 35px;
    color: white;
    background-color: #921A40;
    border: 1px solid black;
    border-radius: 5px;
}

#cartSummaryEmpty {
    font-weight: bold; 
    color: #921A40;
}