.loginContainer {
    height: 30vh;
    width: 30vw;
    margin: 0; 
    padding: 0;
    margin-right: 35vh;
    margin-top: 30px;
    font-size: 18;
    font-weight: bold;
}

.loginSecondContainer{
    margin-bottom: 15px;
}

.loginThirdContainer{
    margin-bottom: 15px;
}

#p2 {
    font-weight: bold;
    font-size: 28px;
}

.loginInput {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

#loginButton {
    padding: 10px 20px;
    background-color: #667BC6;
    color: white;
    border: none;
    border-radius: 5px;
}