.naviContainer1 {
    background-color: #F5EDED;
    height: 70px;
}

.naviContainer2{
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.link1 {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    color: #921A40;
}

.link2 {
    text-decoration: none;
    font-weight: bold;
    color: #921A40;
}