.productContainer {
    height: 53vh;
    width: 53vw;
    margin: 0; 
    padding: 0;
}

#h4 {
    font-weight: bold;
    color: #921A40;
}

#productListButton {
    background-Color: #921A40;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.thProducts {
    font-size: 22px;
    color: #921A40 !important;
    font-weight: bold !important;
}

.tdProducts {
    font-size: 17px;
    color: #921A40 !important;
    font-weight: 500 !important;
}